html, body {
  margin:   0;
  padding:  0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#viewer-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

#viewer {
  height: 100%;
  width:  100%;
}

#viewer-buttons {
  position: absolute;
  top: 58px;
  left: 0;

  z-index: 2;
}

#viewer-buttons > a {
  color: #b1b1b1;
  background-color: #222222;
  cursor: pointer;

  font-family: sans-serif;
  text-decoration: none;

  text-align: center;
  border-radius: 15px;
  line-height: 30px;
  height: 30px;
  width: 30px;

  display: block;
  margin: 5px 10px;
  padding: 0;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#viewer-buttons > a:hover {
  color: #ffffff;
  /*text-shadow: 0 0 6pt #ffffff;*/
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.5);
}

a#reset {
  margin-bottom: 10px;
}

#finder-wrapper {
  box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.25);
  transition: width 0.5s, left 0.5s;
  width: 50%;

  position: absolute;
  top:     0;
  left:    100%;
  bottom:  0;
  z-index: 2;
}

#finder-wrapper.half {
  left: 50%;
}

#finder-wrapper.full {
  left:     0;
  width: 100%;
}

#finder-buttons {
  position: absolute;
  height: 48px;
  top: 10px;
  left: -2.5em;
}

body.score #finder-buttons {
  display: none;
}

.buttons > * {
  color: #d1d1d1;
  background-color: #222222;
  border-radius: 1.5em;
  display: inline-block;

  font-family: sans-serif;
  text-decoration: none;

  height: 48px;
  line-height: 48px;
  margin-right: 1em;
  padding: 0 1.5em;
}

.buttons > a {
  cursor: pointer;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.buttons > a:hover {
  color: #ffffff;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.5);
}

#finder-wrapper.unmarked #make-guess,
#finder-wrapper.unmarked #clear-guess {
  color: #595959;
  box-shadow: none;
}

a#more-finder {
  box-shadow: none !important;
  text-align: center;
  width: 2.5em;

  border-radius: 1.5em 0 0 1.5em;
  padding: 0;
  margin: 0;
}

a#less-finder {
  box-shadow: none !important;
  text-align: center;
  width: 2.5em;

  border-radius: 0 1.5em 1.5em 0;
  padding: 0;
}

#finder {
  height: 100%;
  width:  100%;
}

#scorer-buttons {
  position: absolute;
  top: 10px;
  left: 1em;
  z-index: 3;

  display: none;
}

body.score #scorer-buttons {
  display: block;
}

#next-round {
  background-image: url('img/play.svg');
  background-repeat: no-repeat;
  padding-left: 3em;
}

body.loading #next-round {
  background-image: url('img/loading.svg');
}


#main-wrapper {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  z-index: 3;

  transition: top 0.5s;
  background-color: #ffffff;
  text-align: center;
}

#main-wrapper.hide {
  top: -100%;
}

#main {
  margin: 2em auto;
  max-width: 3in;

  position: relative;
  top: 50%;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

#main h1 {
  color: #222222;
  font-family: monospace;
}

#main h2 {
  color: #595959;
  font-family: sans-serif;

  font-size: 8pt;
  font-weight: normal;
  margin-top: -1.5em;
  margin-bottom: 2em;
}

#main img {
  width:  1in;
  height: 1in;
}

#main a {
  display: block;
  margin: 1em auto;
  width: 2in;
  height: 2.5em;
  line-height: 2.5em;

  background-color: #404040;
  border-radius: 1.5em;
  color: #d1d1d1;

  text-decoration: none;
  font-family: sans-serif;

  cursor: pointer;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


#main a:hover {
  color: #ffffff;
  box-shadow: 0px 2px 6px 0 #b1b1b1;
}

#main #game-play {
  width: 1.5in;

  background-image: url('img/play.svg');
  background-repeat: no-repeat;
}

body.loading #main #game-play {
  background-image: url('img/loading.svg');
}
